h2{
  color: lightseagreen;
  text-shadow: 20px 10px 15px ;
}


p{
  font-size: large;
  font-family: cursive;
}


table{
  font-size: large;
  border-spacing: 30px;
  text-align: center;
  position: relative;  
  right: -20%;
  font-family: cursive;
}


.green{
  background-color: green;
}


.orange{
  background-color:orange;
}


.red{
  background-color: red;
  }


.powder{
  background-color: powderblue;
}


.mediumseagreen{
  background-color: mediumseagreen;
}


.Image{
  background-image: url("Corona.jpg");
}


#image{
  position: relative;
  height: 300px;
  right: -37%;
}


#brazil{
  position: relative;
  height: 300px;
  padding: 10px;
  border: 20px solid steelblue;
}


.div1{
  text-align: center;
}

.div2{
  text-align: left;
  position: relative;
  right: -2%
}


